<h1>Create new category</h1>

<form method="POST" action="/category/new">
  <label for="name">Category name:</label>
  <input type="text" id="name" name="name" required><br><br>
  
  <br><br>
  <input type="submit">
</form>