<h1> Categories </h1>

<table>
    <tr>
        <th>List of Categories</th>
    </tr>
    <% categories.each do |category| %>
    <tr>
        <th><%= category.name %></th>
        <form action="/category/details" method="GET">
            <th><button type="submit" name="id" value="<%= category.id %>">Show Details</button></th>
        </form>
        <form action="/category/delete" method="POST">
            <th><button type="submit" name="id" value="<%= category.id %>">Delete</button></th>
        </form>
        <form action="/category/edit-form" method="POST">
            <th><button type="submit" name="id" value="<%= category.id %>">Edit</button></th>
        </form>
    </tr>
    <% end %>
</table>    
<br>
<a href="/category/new">Add new categories</a><br>
<a href="/">Show Item</a>